.wishlist {
    display: flex;
    flex-direction: column;
    .wishlist-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        h1 {
            position: absolute;
            text-shadow: 2px 2px black;
            color: white;
        }
        #tbtn {
            position: absolute;
            scale: 5;
            top: 0;
            margin: 70px;
            right: 0;
            filter: drop-shadow(0px 0px 3px white);
        }
    }
    .item-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        .item-item {
            display: flex;
            justify-content: center;
            margin: 40px 0;
            align-items: flex-end;
            width: 250px;
            height: 250px;

            img {
                width: inherit;
                height: inherit;
            }
            #namedesc {
                position: absolute;
                width: inherit;
                color: white;
                background: rgba($color: #000000, $alpha: 0.3);

                h2 {
                    margin: 0;
                    text-shadow: 1px 1px black;
                }

                p {
                    margin: 0;
                    text-shadow: 1px 1px black;
                }
            }
        }
    }
}
